@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoRegular.woff'), url('../fonts/lato/LatoBold.woff');
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/openSans/opensans.woff'), url('../fonts/openSans/opensanslight.woff'), url('../fonts/openSans/opensanssemibold.woff'), url('../fonts/openSans/opensansbold.woff');
}

@font-face {
  font-family: 'Gazeta';
  src: url('../fonts/Gazeta.ttf');
}

@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../fonts/webfonts/fa-brands-400.eot");
  src: url("../fonts/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/fa-brands-400.woff2") format("woff2"), url("../fonts/webfonts/fa-brands-400.woff") format("woff"), url("../fonts/webfonts/fa-brands-400.ttf") format("truetype"), url("../fonts/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'icon free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/webfonts/fa-solid-900.eot");
  src: url("../fonts/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/fa-solid-900.woff2") format("woff2"), url("../fonts/webfonts/fa-solid-900.woff") format("woff"), url("../fonts/webfonts/fa-solid-900.ttf") format("truetype"), url("../fonts/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

.google-plus::before {
  font-family: 'icon';
  content: '\f0d5';
}

.twitter::before {
  font-family: 'icon';
  content: '\f099';
}

.facebook::before {
  font-family: 'icon';
  content: '\f39e';
}

.linkedin::before {
  font-family: 'icon';
  content: '\f0e1';
}

.arrow::after {
  font-family: 'icon free';
  content: '\f107';
}

* {
  margin: 0;
  padding: 0;
  font-family: 'OpenSans';
}

.position-static {
  position: static;
}

#top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #4d95dd;
  color: white;
  cursor: pointer;
  outline: none;
  display: none;
  z-index: 900;
  border: none;
}

header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 700;
}

header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 22px 0px;
}

header nav .logo img {
  vertical-align: middle;
}

header nav .menu .burger {
  display: none;
  width: 45px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

header nav .menu .burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #868686;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  left: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header nav .menu .burger span:nth-child(1) {
  top: 0;
}

header nav .menu .burger span:nth-child(2),
header nav .menu .burger span:nth-child(3) {
  top: 11px;
}

header nav .menu .burger span:nth-child(4) {
  top: 22px;
}

header nav .menu .burger.active span:nth-child(1),
header nav .menu .burger.active span:nth-child(4) {
  top: 18px;
  left: 50%;
  width: 0;
}

header nav .menu .burger.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

header nav .menu .burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header nav .menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav .menu ul li a,
.footer_top .navbar_ft .menu ul li a {
  font-family: 'Lato';
  text-decoration: none;
  color: #868686;
  font-size: 13.5px;
  text-transform: uppercase;
  padding: 12px 10px;
}

header nav .menu ul li a:hover {
  background: #ffbb42;
  color: black;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.banner {
  background: #4d95dd;
}

.banner .form {
  padding: 194px 0 346px 0;
  text-align: center;
  position: relative;
}

.banner .form h1 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
}

.banner .form p {
  font-size: 16px;
  color: black;
}

.banner .form form,
.contacts .contact .bg form {
  margin-top: 12px;
}

.banner .form form input[type='text'],
.contacts .contact .bg form input[type='text'] {
  width: 100%;
  min-height: 46px;
  border: 1px solid white;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  margin-top: 20px;
}

.banner .form form input[placeholder],
.contacts .contact .bg form input[placeholder] {
  font-size: 13px;
}

.banner .form form input[placeholder='Ваше имя'],
.contacts .contact .bg form input[placeholder='Ваше имя'] {
  background: url('../img/images/icon_ph_03.png') no-repeat;
  -webkit-background-size: auto 35%;
  background-size: auto 35%;
  background-color: white;
  background-position: 16px 12px;
  text-indent: 40px;
}

.banner .form form input[placeholder='Ваш e-mail'],
.contacts .contact .bg form input[placeholder='Ваш e-mail'] {
  background: url('../img/images/icon_ph_08.png') no-repeat;
  -webkit-background-size: auto 35%;
  background-size: auto 35%;
  background-color: white;
  background-position: 16px 14px;
  text-indent: 40px;
}

.banner .form form input[placeholder='Ваш номер телефона'] {
  background: url('../img/images/icon_ph_05.png') no-repeat;
  -webkit-background-size: auto 35%;
  background-size: auto 35%;
  background-color: white;
  background-position: 16px 12px;
  text-indent: 40px;
}

.banner .form form button,
.contacts .contact .bg form button {
  width: 100%;
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background: #ffbb42;
  color: black;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: none;
  padding: 13.5px 0px;
  margin-top: 20px;
  vertical-align: top;
}

.banner .form .slider_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.banner .form .slider_wrap .slider {
  position: absolute;
  top: 60px;
}

.banner .form .slider_wrap .slider .slider_top {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner .form .slider_wrap .slider .slider_top .screen {
  width: 75%;
  height: auto;
  padding: 18px 18px 30px 18px;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.329);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.329);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.329);
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.banner .form .slider_wrap .slider .slider_top .screen .img_slides {
  width: 100%;
  min-height: 268px;
  position: relative;
}

.banner .form .slider_wrap .slider .slider_top .screen .img_slides img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.banner .form .slider_wrap .slider .slider_top .screen .img_slides img.active {
  opacity: 1;
}

.banner .form .slider_wrap .slider .slider_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner .form .slider_wrap .slider .slider_bottom .stand {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner .form .slider_wrap .slider .slider_bottom .stand .img img {
  width: 100%;
}

.banner .form .slider_wrap .slider .slider_bottom .stand .score {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 22px;
}

.banner .form .slider_wrap .slider .slider_bottom .stand .score ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner .form .slider_wrap .slider .slider_bottom .stand .score ul li {
  list-style-type: none;
}

.banner .form .slider_wrap .slider .slider_bottom .stand .score .circle {
  width: 15px;
  height: 15px;
  border: 2px solid #dedfe0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
}

.banner .form .slider_wrap .slider .slider_bottom .stand .score .circle:last-child {
  margin-right: 0px;
}

.service {
  background: white;
}

.service .cards {
  padding: 200px 0 150px 0;
}

.service .cards h2,
.about .info .text .content h2 {
  font-size: 30px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.service .cards p {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin-bottom: 14px;
  text-align: center;
}

.service .cards .card {
  width: 100%;
  margin-top: 76px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.service .cards .card .img {
  width: 12%;
}

.service .cards .card .img img {
  display: block;
  width: 100%;
}

.service .cards .card .text {
  width: 85%;
}

.service .cards .card .text h3 {
  font-weight: 700;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
}

.service .cards .card .text p,
.about .info .text .content p {
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin-top: 16px;
  line-height: 2;
  text-align: left;
}

.about {
  background-color: #ffc155;
}

.about .info .img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about .info .img img {
  display: block;
}

.about .info .text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about .info .text .content {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about .info .text .content h2 {
  text-align: left;
  margin-bottom: 30px;
}

.about .info .text .content p {
  margin: 0 0 38px 0;
}

.about .info .text .content a,
.tarif .prices .card_price .price a,
.how_it_work .steps a {
  width: 146px;
  font-family: 'Lato';
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
  padding: 16px 28px;
  border: 1px solid black;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin-bottom: 10px;
}

.tarif {
  background: #e7edf3;
}

.tarif .prices {
  padding: 130px 0 190px 0;
  font-family: 'Lato';
}

.tarif .prices h3,
.how_it_work .steps h3 {
  font-family: 'Lato';
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.tarif .prices p,
.how_it_work .steps p {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 60px;
  text-align: center;
}

.tarif .prices .card_price {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  border: 1px solid #ccd5df;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding: 46px 0 46px 0;
  margin-top: 20px;
  font-family: 'Lato';
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.tarif .prices .card_price:hover {
  background: #709dca;
  border: 1px solid #709dca;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  z-index: 100;
}

.tarif .prices .card_price:hover .price h4 {
  color: white;
}

.tarif .prices .card_price:hover .price h5 {
  color: white;
}

.tarif .prices .card_price:hover .price h5:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 34px;
  background-image: url(../img/images/dollar_white_03.png);
  vertical-align: top;
}

.tarif .prices .card_price:hover .price p {
  color: #c2e1ff;
  border-bottom: 1px solid #8eb8e2;
}

.tarif .prices .card_price:hover .price p span {
  color: white;
}

.tarif .prices .card_price .price {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10px;
}

.tarif .prices .card_price .price h4 {
  font-size: 25px;
  font-weight: 400;
  color: #818b95;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.tarif .prices .card_price .price h5 {
  font-size: 60px;
  color: #ffbb42;
  line-height: 50px;
}

.tarif .prices .card_price .price h5:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 29px;
  background-image: url('../img/images/dollar_yellow_03.png');
  vertical-align: super;
}

.tarif .prices .card_price .price p {
  width: 100%;
  font-family: 'Lato';
  color: #b5bbc1;
  font-size: 13.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccd5df;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 0;
}

.tarif .prices .card_price .price p:nth-child(3) {
  margin-top: 10px;
  padding: 0 0 30px 0;
}

.tarif .prices .card_price .price p span {
  color: #818b95;
  font-size: 20px;
}

.tarif .prices .card_price .price a,
.how_it_work .steps a {
  width: 127px;
  font-weight: 400;
  text-align: center;
  background: #ffbb42;
  padding: 16px 0;
  margin: 32px 0 0 0;
  border: none;
}

.how_it_work {
  background: white;
}

.how_it_work .steps {
  padding: 154px 0 148px 0;
  text-align: center;
}

.how_it_work .steps p {
  margin-bottom: 40px;
}

.how_it_work .steps a {
  display: block;
  width: 170px;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
}

.how_it_work .steps .step {
  width: 100%;
  min-height: 264px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 40px 0 86px 0;
  position: relative;
}

.how_it_work .steps .step h4 {
  font-family: 'OpenSans';
  color: #394b50;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.how_it_work .steps .step p {
  color: #7b7b7b;
  font-size: 13px;
  line-height: 2;
}

.how_it_work .steps .step .arrow_top {
  position: absolute;
  left: 204px;
  top: -32px;
}

.how_it_work .steps .step .arrow_bottom {
  position: absolute;
  left: 204px;
  top: 66px;
}

.how_it_work .steps .step .img {
  margin-bottom: 100px;
  max-height: 61px;
}

.how_it_work .steps .step .text {
  width: 80%;
}

.how_it_work .steps .step .text p {
  margin-bottom: 0;
}

.feedback {
  background: #ffc155;
}

.feedback .comments {
  padding: 136px 0 156px 0;
  text-align: center;
}

.feedback .comments h3 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.feedback .comments p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}

.feedback .comments .mrt {
  margin-top: 30px;
}

.feedback .comments .wrap {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 22px;
  background: white;
}

.feedback .comments .wrap .comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feedback .comments .wrap .comment .pic_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback .comments .wrap .comment .pic_text .img {
  width: 26%;
}

.feedback .comments .wrap .comment .pic_text .img img {
  width: 100%;
  display: block;
}

.feedback .comments .wrap .comment .pic_text p {
  width: 70%;
  color: #7b7b7b;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}

.feedback .comments .wrap .comment .pic_text p span:first-child {
  color: #7b7b7b;
  font-size: 30px;
  font-family: 'Gazeta';
  position: absolute;
  left: -16px;
  top: 0;
}

.feedback .comments .wrap .comment .pic_text p span:last-child {
  color: #7b7b7b;
  font-size: 30px;
  font-family: 'Gazeta';
  position: absolute;
  right: 50%;
  bottom: -30px;
}

.feedback .comments .wrap .comment .autor_cmt {
  width: 74%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feedback .comments .wrap .comment .autor_cmt h4 {
  font-family: 'Lato';
  color: #f6772c;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
}

.feedback .comments .wrap .comment .autor_cmt h4 span {
  font-family: 'Lato';
  color: #99a9ae;
}

.contacts {
  background: #fff;
}

.contacts .contact {
  padding: 150px 0 50px 0;
}

.contacts .contact .bg {
  background: url(../img/images/bg_contacts_03.png) no-repeat bottom;
  text-align: center;
  padding-bottom: 158px;
}

.contacts .contact .bg h3 {
  font-size: 30px;
  text-transform: uppercase;
}

.contacts .contact .bg p {
  font-size: 16px;
}

.contacts .contact .bg form {
  margin-top: 38px;
}

.contacts .contact .bg form input[type='text'] {
  border: 1px solid #cbcbcb;
}

.contacts .contact .bg .address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 90px;
}

.contacts .contact .bg .address .text_adrs {
  background: #394b50;
  width: 280px;
  height: 280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 140px;
  border-radius: 140px;
}

.contacts .contact .bg .address .text_adrs h4 {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 48px;
}

.contacts .contact .bg .address .text_adrs p {
  color: #aeb7ba;
  font-size: 13px;
  line-height: 2;
  width: 182px;
}

.contacts .contact .bg .address .text_adrs a {
  text-decoration: none;
  color: #ffbb42;
  font-size: 13px;
  margin-bottom: 54px;
}

.contacts .contact .bg .address .text_adrs::after,
.contacts .contact .bg .address .text_adrs::before {
  content: '';
  position: absolute;
  background: #394b50;
  width: 20px;
  height: 20px;
  bottom: 67px;
  z-index: -1;
  -webkit-transform: rotate(66deg) matrix(1, 1, 1, 0, 0, -2);
  -ms-transform: rotate(66deg) matrix(1, 1, 1, 0, 0, -2);
  transform: rotate(66deg) matrix(1, 1, 1, 0, 0, -2);
}

.contacts .contact .bg .address .text_adrs::before {
  z-index: 1;
}

.contacts .contact .bg .address .img {
  margin-top: 20px;
}

.footer_top {
  background: white;
}

.footer_top .navbar_ft .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 64px 0 46px 0;
  border-top: 1px solid #e3e7ec;
}

.footer_top .navbar_ft .menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 26px;
}

.footer_top .navbar_ft .menu ul li a {
  color: #394b50;
  font-size: 14px;
}

.footer_top .navbar_ft .menu .tel {
  margin-bottom: 20px;
}

.footer_top .navbar_ft .menu .tel h3 {
  font-family: 'Lato';
  font-size: 22.5px;
  color: #394b50;
  font-weight: 400;
}

.footer_top .navbar_ft .menu .tel h3::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 17px;
  background-image: url('../img/images/ft_tel_03.png');
  vertical-align: middle;
  margin-right: 12px;
}

.footer_top .navbar_ft .menu .icons a {
  color: #709dca;
  text-decoration: none;
  margin-right: 14px;
  vertical-align: middle;
}

.footer_top .navbar_ft .menu .icons a:last-child {
  margin-right: 0;
}

.footer_top .navbar_ft .menu .icons a.active {
  color: #ffc155;
}

.footer_bottom {
  background: #709dca;
}

.footer_bottom .made {
  padding: 16px 0;
}

.footer_bottom .made p {
  color: white;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 1200px) {
  header nav .logo img {
    width: 130px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  header nav .menu ul li a,
  .footer_top .navbar_ft .menu ul li a {
    font-size: 12.5px;
    padding: 12px 8px;
  }
}

@media (max-width: 1199px) {
  .how_it_work .steps .step .arrow_top {
    left: 158px;
    top: -38px;
  }

  .how_it_work .steps .step .arrow_bottom {
    left: 158px;
    top: 75px;
  }
}

@media (max-width: 992px) {
  .tarif .prices .card_price .price h4 {
    font-size: 20px;
  }

  .tarif .prices .card_price .price p {
    font-size: 9.5px;
  }
}

@media (max-width: 991px) {
  header nav .menu .burger {
    display: block;
  }

  header nav .menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0%;
    z-index: 850;
    background: rgba(255, 255, 255, 0.94);
    padding: 30px 70px 30px 20px;
    margin-right: -233px;
    margin-top: 84px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  header nav .menu ul li {
    margin: 0 0 20px 0;
  }

  header nav .menu ul li a,
  .footer_top .navbar_ft .menu ul li a {
    font-size: 14px;
  }

  header nav .menu ul li:last-child {
    margin: 0;
  }

  header nav .menu ul.active {
    margin-right: 0px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-out 0.5s;
    -o-transition: all 0.5s ease-out 0.5s;
    transition: all 0.5s ease-out 0.5s;
  }

  .how_it_work .steps .step .arrow_top {
    left: 286px;
    top: -38px;
  }

  .how_it_work .steps .step .arrow_bottom {
    opacity: 0;
    left: 0;
  }

  .footer_top .navbar_ft .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer_top .navbar_ft .menu ul li {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .banner .form h1 {
    font-size: 30px;
  }

  .banner .form p {
    font-size: 12px;
  }

  .about .info .text {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tarif .prices .card_price .price h4 {
    font-size: 25px;
  }

  .tarif .prices .card_price .price p {
    font-size: 13.5px;
  }

  .how_it_work .steps .step .arrow_top {
    opacity: 0;
    left: 0;
  }
}

@media (max-width: 575px) {
  .p-cl-0 {
    padding: 0;
  }
}

@media (max-width: 542px) {
  .banner .form {
    padding-bottom: 280px;
  }

  .banner .form h1 {
    font-size: 20px;
    text-align: center;
  }

  .banner .form p {
    font-size: 10px;
    text-align: center;
  }

  .banner .form .slider_wrap .slider .slider_top .screen .img_slides {
    min-height: 200px;
  }
}

@media (max-width: 540px) {
  header nav .menu ul {
    padding-right: 30px;
  }
}

@media (max-width: 444px) {
  .banner .form {
    padding-bottom: 240px;
  }

  .banner .form .slider_wrap .slider .slider_top .screen .img_slides {
    min-height: 150px;
  }

  .contacts .contact .bg .address .text_adrs {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }
}
